<h1>Listing hookups</h1>

 
	<table>
	  <tr>
		<th>ID</th>
		<th>User_id</th>
		<th>Challenge_id</th>	
		
		<th></th>
		<th></th>
		<th></th>
	  </tr>
	 
	<% @hookups.each do |h| %>
	  <tr>
		<td><%= h.id %></td>
		<td><%= h.user_id %></td>	
		<td><%= h.challenge_id %></td>	
		<td><%= link_to 'Show', h %></td>
		<td><%#= link_to 'Edit', edit_hookup_path(h) %></td>
		<td><%= link_to 'Kill', h, :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />




<%= link_to 'New Hookup', new_hookup_path %>
<%= link_to 'Home', root_path %>
