<h3> Your challenges</h3>
<% Challenge.where(:started_by => current_user.id).each do |c| %>
<div id = "current">
  You bet <b><%= c.wager %></b> for someone to <b><%= c.challenge_name %></b> by <b><%= c.due_date %></b></br>
  
	<% Hookup.where(:challenge_id => c.id).each do |h| %>
	
		<% unless Hookup.where(:challenge_id => c.id).exists? %>
			nobody has yet
		<$ else %>
			<% User.where(:id => h.user_id).each do |u| %>
			<%= u.email %>, 
			<% end %>
		<% end %>
	<% end %>
	
	accepted this challenge.</br>
	
	<% if c.complete? then %> Finished by <b>
		<%= User.where(:id => c.completed_by).first.email %>
		</b> on <b><%= c.complete_date %></b>
	<% end %>
		
</div>
</br>
<% end %>